body{
    background-image: url(imgs/coffeebg.jpg);
    background-size: cover;
}
header,section,footer{
    width: 70%;
    background-color: #c79f6b;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
}
li{
    list-style: none;
    text-align: left;
}
.coffee-list, .dessert-list{
    display: flex;
    justify-content: space-between;
}

header {
    position: relative;
    bottom: -20px;
}
.pro{
    border: 2px solid #5e310d;
    border-radius: 10px;
}

a:hover{
    color: #b44a03;
}