.my-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #A04747;
}
nav{
    display: flex;
    justify-content: space-between;
    height:70px;
}
.img-info{
    display: flex;
}
.img-info p{
    margin-left: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #343131;
    justify-content: first baseline;
}
.nav-list li{
    display: inline-block;
    margin: 0 15px;
}
header{
background-color:#EEDF7A;

}
.nav-list a{
    text-decoration: none;
    color: #343131;
    transition: 0.5s;
    font-size: 20px;
}
.nav-list a:hover{
    font-size: 22px;
    color: #df5a5a;
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.home button{
    background-color: aqua;
    color: white;
}
.home{
    text-align: center;
    padding: 170px 10px;
    background-image:url(WhatsApp\ Image\ 2024-10-05\ at\ 15.35.10_60286573.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.home h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home p{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h2-min{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15%;
}
.div-up{
    border:2px solid;
    width: 25px;
    margin: 0 auto;
    border-radius: 5px;
    border-color: #EEDF7A;
}
.p-ar{
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
    color: #555;
}
.h3-kop{
    margin-top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.my-skills{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20%;
    text-align: center;
}
.about button{
    margin: 5px;
}
.con{
    margin-top: 5%;
    border-radius: 15%;
    background-color: #EEDF7A;
    color: #000;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
    box-shadow: 0 1px 2px 2px;
}
.con:hover{

}
.ab{
    font-weight: bold;
}