body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    background-image: url(imgs/body_bg.jpg);
    background-repeat: no-repeat;
}

nav li {
    list-style: none;

    display: inline-block;
    padding: 0 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.header {
    background-image: url('./imgs/hero-bg.jpg');
    height: 500px;
    padding: 20px;
    background-position: center;
    background-size: cover;

}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.25s;
}

nav a:hover {
    color: #cf5225;
}

nav img {
    top: 10px;
    position: relative;
}

nav label {
    position: absolute;
    top: 17px;
    font-size: 20px;

}

.h-2 {
    color: #ffffff;
    text-transform: uppercase;

    margin-top: 100px;
    font-size: 50px;
}

.h-1 {
    color: #cf5225;
    text-transform: uppercase;
    font-size: 50px;
}

.header p {
    color: #ffffff;
    font-size: 20px;

}

button {
    color: #ffffff;
    background-color: #cf5225;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    padding: 10px 40px;
    transition: 0.5s;
    border: #cf5225 2px solid;
}

button:hover {
    background-color: transparent;
    color: #cf5225;
    border: #cf5225 2px solid;
}

.about-img {
    height: auto;

}

.about-img img {
    width: 50%;
    flex-wrap: wrap;
}

.about-text {
    padding: 15px;
    width: 45%;
    text-align: left;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.about p {
    color: #000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about h3 {
    font-size: 50px;
    color: #cf5225;

}



nav li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: #000000 solid 2px;
    width: fit-content;
    margin: 0 auto;
}

.service-detail {
    display: inline;
    padding: 25px;
    width: 45%;
}


.service h4 {
    display: block;


}

.btn-xp {
    color: #cf5225;
    background-color: #ffffff;
    border: #cf5225 2px solid;
    font-size: 20px;
}


.service-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 25px;
}

.service img {
    width: 50px;
    height: 50px;
}

.Quote h3 {
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Quote {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

.Quote p {
    font-size: 20px;
    margin-top: 15px;
}


.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}
.contact-us .contact-form{
width: 49%;

}
.contact-form input,
.contact-form textarea {

    width: 80%;
    background-color: #1c1b2d;
    color: #ffffff;
    margin: 25px auto;
    border-radius: 0;
    display: block;
    padding: 18px;
    border: none;
}

.form-h3 {
    font-size: 30px;
    text-align: center;
    border-bottom: #000000 solid 2px;
    width: fit-content;
    margin: 0 auto;
}

.contact-form button {
    display: block;
    margin: 0 auto;
}


h5 {
    font-size: 30px;
    text-align: center;
    border-bottom: #000000 solid 2px;
    width: fit-content;
    margin: 0 auto;
}

.Testimonial {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.Testimonial-img {
    width: 20%;
    height: 20%;
}

.Testimonial h5 {
    font-size: 30px;

}

.Testimonial p {
    font-size: 15px;
    color: #cf5225;
}

.Testimonial-p {
    margin-top: 0px;
    width: 100%;
    background-color: #cf5225;
    color: #ffffff;
    text-align: center;
    height: 7%;
    align-items: center;
}

.contact {
    text-align: center;
    justify-content: space-between;
}

.contact i {
    font-size: 50px;
    margin: 15px;
    transition: 0.25s;
}

.contact i:hover {
    color: #cf5225;
}

.Copy-right {
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Copy-right p a {
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
}

.Copy-right p {
    margin-top: 30px;
}






.btn {
    width: 95%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 370px;
    cursor: pointer;
    max-width: 1700px;
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.responsive-container-block.bg {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 1700px;
}

.text-blk.title {
    font-size: 46px;
    line-height: 64px;
    font-weight: 900;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.test-container {
    width: 85%;
    max-width: 1520px;
    height: auto;
    overflow: hidden;
}

.test-slide {
    text-align: center;
    font-size: 18px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: fit-content;
}


.test-slide.test-slide-next .content .quotes {
    color: rgb(3, 169, 244);
}

.test-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.responsive-container-block.content {
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    position: relative;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 120px;
    margin-left: 20px;
}

.text-blk.name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.text-blk.desig {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.text-blk.info {
    max-width: 550px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-size: 20px;
    line-height: 30px;
}

.text-blk.quotes {
    position: absolute;
    left: 20px;
    font-size: 144px;
    line-height: 32px;
    top: 17px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.profile-img {
    width: auto;
    max-width: 130px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    min-height: 130px;
}

.test-slide img.review {
    width: 125px;
}


.content {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 120px;
    margin-left: 20px;
}

@media screen and (max-width: 800px) {
    .service-detail {
        width: 100%;
        text-align: center;
    }
    .contact-form input,
    .contact-form textarea {
    
        width: 100%;
    }
    .contact-us .contact-form{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        }
        .h-1{
            font-size: 35px;
        }
        .h-2{
            font-size: 30px;
        }
        .about-text{
            width: 100%;
            text-align: center;
        }
        .about-img img {
            display: none;
        }
        .touch-img{
            display: none;
        }
        .Quote{
            text-align: center;
        }
}