body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grs{
    
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: left; 
    width: 50%;
    height: auto;
       
}
.amr{
    display: inline-block;
    justify-content: space-between;
    padding: 15px;
    width: 45%;
    text-align: right;
}
.ji{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
section p{
    color: #000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section h3{
    font-size: 50px;
    color: #cf5225;

}
.gop{
    background-color: #cf5225;
    color: #ffffff; 
     font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px; 
    transition: 0.5s;
}
.gop:hover{
    background-color: transparent;
    color: #cf5225;
    border: #cf5225 2px solid;
}
div nav li{
    list-style: none; 
    display: inline-block;
    padding: 0 5px;
}
div nav{
    display: flex;
    justify-content: space-between;
    color: #000000;
}